@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Vertrio';
    src: url('/fonts/vertrio/Vertrio.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Hk';
    src: url('/fonts/hk/HKGrotesk-BoldLegacy.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
}
